---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
{
    title: "Skann eller søk",
    description:
      "Skann eller søk blant tusenvis av dagligvarer helt gratis.",
    icon: "bx:bxs-barcode",
  },
  {
    title: "Info om tilsettningsstoffer",
    description:
      "Få informasjon om hvilke tilsettningsstoffer det er i maten du spiser og lær mer om egenskapene til de forskjellige e-stoffene.",
    icon: "bx:bxs-flask",
  },
  {
    title: "Ultraprossesert mat",
    description:
      "Vi klassifiserer produkter etter NOVA-skalaen slik at du kan ta gode matvalg.",
    icon: "bx:bxs-factory",
  },
  {
    title: "Søk i tilbudsaviser",
    description:
      "Vi henter tilbudsaviser fra de fleste norske dagligvarebutikker. Søk på tvers av kjedene for å finne tilbudene du er interessert i!",
    icon: "bx:bxs-news",
  },
  {
    title: "Prisinformasjon",
    description:
      "Vi henter kontinuerlig inn priser på over 30000 dagligvarer slik at du kan se prishistorikken på varen.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Ingredienser og næringsinnhold",
    description:
      "Få informasjon om ingredienser, næringsinnhold og allergener i matvarene.",
    icon: "bx:bxs-baguette",
  },

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Alt du trenger - Helt gratis!
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Matlat-appen mange nyttige funksjoner som hjelper deg å velge riktig matvarer og skape gode matvaner. 
    <br /> Det beste av alt, er at appen er helt gratis!
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
