---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Vi henter priser og tilbud fra de fleste norske dagligvarebutikker</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_bunnpris_256.png"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_coop_extra_256.png"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_coop_prix_256.png"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_coop_mega_256.jpg"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_gigaboks_256.jpg"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_kiwi_256.jpg"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_matkroken_256.png"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_meny_256.png"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_obs_256.jpg"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_oda_256.png"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_rema_256.png"/>
    <img class="size-8 md:size-12" style="object-fit:contain;" src="stores/logo_spar_256.jpg"/>
  </div>
</div>
